
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: yellowgreen;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo{
  font-size: 2.5rem;
  color: #754ef9;
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a{
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

// DARK - LIGHT  MODE
.darkMode-icon{
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}
