section{
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home{
  display: flex;
  align-items: center;
}

.home .home-content{
  max-width: 44rem;
}

.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .3;
}

.home-content h1{
  font-size: 4.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-content p{
  font-size: 1.6rem;
}

.home-content .social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background:transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  text-decoration: none;
  transition: .5s ease;
}

.home-content .social-media a:hover{
  background-color: var(--main-color);
  color: var(--white-color);
}

.btn{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5 ease;
  border: .2rem solid transparent;
}

.btn:hover{
  background-color: transparent;
  color: var(--main-color);
  border: .2rem solid var(--main-color);
}
