<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, I am</h3>
    <h1>Yohannes Luminari</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Fugit dignissimos quia voluptates nesciunt aut vero quibusdam atque optio fuga hic,
        facere accusamus possimus culpa sapiente nam! Exercitationem sequi facilis eius.
    </p>
    <div class="social-media">
      <a href=""><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
    </div>
    <a href="#" class="btn">Download CV</a>
  </div>
</section>
